html {
    font-family: 'Bitter', serif!important;
    font-weight: 500!important;
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0;
    background: repeat url('/images/webb-dark.png');
}
