.navigationTabs  {
  margin-left: auto;
  margin-right: 0;
  align-self: flex-end;
  height: 3rem;
}

.navBar {
  height: 3rem;
  min-height: 3rem!important;
}

.navBackground {
  background-color: #333!important;
}
